:root {
  --primary-color1: #3d3a35;
  --primary-color2: #b60217;
  --all-menu-btn-color: #333333;
}

body {
  max-width: 1920px;
  min-width: 1280px;
  margin: 0 auto;
}

#container {
  position: relative;
  margin-bottom: 411px;
  background-color: #ffffff;
  z-index: 100;
}

/** content */
.content {
  display: flex;
  padding: 80px 40px 0;
}

/** side menu */
.side-box {
  width: 200px;
}

.side-box .sub-menu h3 {
  font-size: 32px;
  color: #212121;
  margin-bottom: 32px;
}

.side-box .sub-menu ul {
  padding-bottom: 31px;
  border-bottom: 1px solid #dbdbdb;
}

.side-box .sub-menu ul li {
  margin-top: 15px;
}

.side-box .sub-menu ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
}

.side-box .info-box {
  padding-top: 32px;
}

.side-box .info-box h5 {
  font-size: 20px;
  font-weight: 700;
  color: #212121;
}

.side-box .info-box p {
  font-size: 14px;
  color: #212121;
  line-height: 1.6;
  margin-top: 19px;
}

/** main content */
.main-cont {
  padding-left: 80px;
  width: 100%;
}

.main-cont .search-box {
  display: flex;
  width: 100%;
  margin-bottom: 35px;
}

.main-cont .search-box div:nth-child(1) {
  width: 70%;
}

.main-cont .search-box .title {
  font-size: 24px;
  color: #212121;
  padding-bottom: 10px;
}

.main-cont .search-box input {
  width: 70%;
  height: 50px;
  padding: 0 10px;
  border: none;
  border: 2px solid #dddddd;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
  color: #333333;
}

.main-cont .search-box .btn-search {
  width: 100px;
  height: 50px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 5px;
  background-color: var(--primary-color2);
  border-radius: 5px;
  cursor: pointer;
}

.main-cont .search-box .go-inquiry {
  padding: 10px 0 10px 50px;
  border-left: 1px solid #dbdbdb;
}

.main-cont .search-box .go-inquiry p {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}

.main-cont .search-box .go-inquiry a {
  display: block;
  width: 100px;
  height: 35px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: var(--primary-color2);
  border: 2px solid var(--primary-color2);
  border-radius: 5px;
}

.main-cont .board .board-title {
  font-size: 21px;
  font-weight: 700;
  padding-bottom: 15px;
}

.main-cont .board .board-list {
  display: flex;
  padding-bottom: 20px;
}

.main-cont .board .board-list li:nth-child(1) {
  padding-left: 0;
}

.main-cont .board .board-list li {
  position: relative;
  padding: 0 10px;
}

.main-cont .board .board-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 1px;
  height: 13px;
  background-color: #dbdbdb;
}

.main-cont .board .board-list li:nth-child(1)::before {
  display: none;
}

.main-cont .board .board-list li a {
  font-size: 14px;
}

.main-cont .board .board-list li a.on {
  font-weight: 700;
  color: var(--primary-color2);
}

.main-cont .board .board-table {
  width: 100%;
  border-top: 2px solid #000;
  border-collapse: collapse;
}

.main-cont .board .board-table div.question div {
  width: 100%;
  font-size: 18px;
  color: #333333;
  padding: 24px 16px 23px 42px;
  border-bottom: 2px solid #dddddd;
  background-image: url(/img/icon_qna_q.png);
  background-repeat: no-repeat;
  background-position: 13px center;
}

.main-cont .board .board-table div.question div p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-cont .board .board-table div.answer {
  height: 0;
  background-color: #f9f9f9;
  overflow: hidden;
  transition: all 0.3s;
}

.main-cont .board .board-table div.answer div {
  padding: 24px 42px 24px;
}

.pagination {
  margin-top: 50px;
  height: 100%;
  margin-bottom: 143px;
}

.pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.pagination ul li {
  font-size: 16px;
  color: #222222;
  margin: 0 22px;
}

.pagination span {
  position: relative;
}

.pagination span::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--primary-color2);
  transform: translateX(-50%);
}

.pagination .on {
  color: var(--primary-color2);
}
