/** header */
#header-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  z-index: 100;
}

#content-wrap {
  width: 100%;
  background: #fff;
  position: relative;
}

.cormorant {
  font-family: 'Cormorant Garamond', serif;
}

.logo {
  display: block;
  width: 170px;
  height: 38px;
  background-image: url(/img/logo.svg);
}

.gnb ul {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 34px;
  padding-right: 40px;
  font-size: 13px;
  list-style: none;
}

.gnb ul li {
  display: flex;
  align-items: center;
  padding-left: 11px;
}

.gnb ul li a {
  color: var(--primary-color1);
}

.gnb ul li:nth-child(2)::before,
.gnb ul li:nth-child(3)::before,
.gnb ul li:nth-child(4)::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 11px;
  background: var(--primary-color1);
  margin-right: 11px;
}

#logo {
  display: block;
  width: 170px;
  height: 38px;
  fill: red;
  background-repeat: no-repeat;
  background-image: url(/img/top_logo.svg);
}

.logo-box {
  padding: 0 40px;
}

.nav {
  display: flex;
  align-items: center;
  height: 88px;
  padding: 0 40px 0 40px;
}

.btn-all-menu {
  position: relative;
  width: 30px;
  height: 28px;
}

.btn-all-menu .line {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: var(--all-menu-btn-color);
}

.btn-all-menu .short-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background-color: var(--all-menu-btn-color);
}

.btn-all-menu .line:nth-child(3) {
  bottom: 0;
}

.navbar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar {
  display: flex;
  padding-left: 55px;
}

.navbar li a {
  margin-right: 60px;
  font-size: 18px;
  color: var(--primary-color1);
}

.right-box {
  display: flex;
}

.right-box ul {
  display: flex;
}

#header-wrap .search-box {
  position: relative;
  width: 225px;
  height: 34px;
  border-bottom: 1px solid var(--primary-color1);
}

#header-wrap .search-input {
  padding: 5px 45px 5px 0;
  border: none;
  background-color: transparent;
}

#header-wrap .search-input::placeholder {
  color: var(--primary-color1);
  font-size: 15px;
}

#header-wrap .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-image: url(/img/search_btn.svg);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.navbar-cart {
  position: relative;
  display: block;
  width: 38px;
  height: 34px;
  margin-left: 15px;
  background-image: url(/img/navbar_cart.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.navbar-cart span {
  position: absolute;
  top: 3px;
  right: 6px;
  color: #ffffff;
}

.navbar-mypage {
  display: block;
  width: 30px;
  height: 34px;
  margin-left: 10px;
  background-image: url(/img/navbar_mypage.svg);
  background-position: center center;
  background-repeat: no-repeat;
}
