:root {
  --primary-color1: #3d3a35;
  --primary-color2: #b60217;
}

#container {
  position: relative;
  max-width: 1920px;
  min-width: 1280px;
  margin: 0 auto;
  margin-bottom: 411px;
  background-color: #ffffff;
  z-index: 999;
}

/** contents */
.content-wrap {
  border-top: 1px solid #cccccc;
}

.content {
  width: 400px;
  padding-top: 80px;
  padding-bottom: 110px;
  margin: 0 auto;
}

.content .text-box {
  font-size: 15px;
  text-align: center;
}

.login-kakao .text-box p:nth-child(2) {
  line-height: 1.6;
  font-weight: 600;
}

.login-kakao .member-sns-kakao {
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  margin: 28px 0 20px;
  background-color: #ffe500;
  border-radius: 5px;
  overflow: hidden;
}

.login-kakao .member-sns-kakao a {
  display: block;
  width: 400px;
  height: 50px;
  font-weight: 500;
  background-image: url(/img/kakao.svg);
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 20px center;
}

.login-benefit img {
  width: 100%;
}

.or-line {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 30px;
}

.or-line .line-text {
  font-size: 12px;
  color: #eeeeee;
}

.or-line .line {
  width: 180px;
  height: 1px;
  background-color: #eeeeee;
}

.member-tab {
  display: flex;
  justify-content: center;
}

.member-tab div {
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  background-color: #fafafa;
  border: 2px solid #eeeeee;
}

.member-tab div:nth-child(1) {
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.member-tab div:nth-child(2) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.member-tab div button {
  width: 100%;
  height: 100%;
  border: none;
  color: #3d3a3533;
  background-color: transparent;
  cursor: pointer;
}

#form-login .input-box,
#form-order-login .input-box {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

#form-login .input-box input,
#form-order-login .input-box input {
  width: 400px;
  height: 50px;
  padding-left: 20px;
  font-size: 15px;
  color: #979d9d;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  margin-bottom: 10px;
}

#form-login .input-box input::placeholder,
#form-order-login .input-box input::placeholder {
  color: #eeeeee;
}

#remember-id,
#remember-pw {
  display: none;
}

.remember-id,
.remember-pw {
  padding: 0 10px 0 20px;
  background-image: url(/img/check_bg.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0 1px;
}

#remember-id:checked + .remember-id,
#remember-pw:checked + .remember-pw {
  background-image: url(/img/check.svg);
}

.remember-chk,
.find-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #3d3a35cc;
}

.member-login {
  width: 100%;
  height: 54px;
  color: #ffffff;
  margin-top: 27px;
  background-color: var(--primary-color2);
  border-radius: 5px;
  cursor: pointer;
}

.join-member {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  cursor: pointer;
}

.join-member button {
  width: 195px;
  height: 100%;
  font-size: 13px;
  font-weight: 600;
  text-align: end;
  color: #3d3a35cc;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #eeeeee;
}

.caution-msg {
  font-size: 13px;
  color: #6d6d6d;
  padding-left: 20px;
  margin-top: 20px;
  background-image: url(/img/icon_caution.png);
  background-repeat: no-repeat;
}

.join-member a:nth-child(1) button {
  background-image: url(/img/join_img.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 20px center;
}

.join-member a:nth-child(2) button {
  background-image: url(/img/join_naver.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 20px center;
}

.member-login-box,
.nomember-login-box {
  display: none;
}

.login-box-on {
  display: block;
}

.kakao-login-text {
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}

.kakao-login-text p:nth-child(1) {
  font-weight: 600;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  color: #3d3a3599;
}

.login-logo img {
  margin-right: 10px;
}

.member-tab div.pick {
  background: #ffffff;
}

.member-tab div.pick button {
  font-weight: 700;
  color: #3d3a35cc;
}
